{% extends "blog/base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h2 class="text-center mb-4">Crear Entrada de Blog</h2>

            
            
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="{{ formulario.titulo.id_for_label }}" class="form-label">Título</label>
                    
                    <textarea class="form-control" id="{{ formulario.titulo.id_for_label }}"
                        name="{{ formulario.titulo.name }}" placeholder="Agrega un titulo para tu blog" rows="1"></textarea>
                </div>
                <div class="mb-3">
                    <label for="{{ formulario.subtitulo.id_for_label }}" class="form-label">Subtítulo</label>
                    <textarea class="form-control" id="{{ formulario.subtitulo.id_for_label }}"
                        name="{{ formulario.subtitulo.name }}" placeholder="Agrega tu subtitulo para tu blog" rows="1"></textarea>
                </div>
                <div class="mb-3">
                    <label for="{{ formulario.cuerpo.id_for_label }}" class="form-label">Cuerpo</label>
                    <textarea class="form-control" id="{{ formulario.cuerpo.id_for_label }}"
                        name="{{ formulario.cuerpo.name }}" placeholder="Cuerpo" rows="6"></textarea>
                </div>
                <div class="mb-3">
                    <label for="{{ formulario.imagen.id_for_label }}" class="form-label">Imagen</label>
                    {{ formulario.imagen }}
                </div>
                <div class="mb-3">
                    <label for="{{ formulario.categoria.id_for_label }}" class="form-label">Categoría</label>
                    
                    <textarea class="form-control" id="{{ formulario.categoria.id_for_label }}"
                        name="{{ formulario.categoria.name }}" placeholder="Agrega una categoria" rows="1"></textarea>
                </div>
                
                <button class="btn btn-primary btn-block" type="submit">Crear Entrada</button>
            </form>
            {% if mensaje %}
            <div class="alert alert-success">{{ mensaje }}</div>
            {% endif %}
        </div>
    </div>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <a class="btn btn-primary" href="{% url 'lista_entradas' %}">Volver a la lista de entradas</a>
        </div>
    </div>
</div>

<h2>Entradas de Blog</h2>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            {% for entrada in entradas_blog %}
            <div class="card mb-4">
                <img src="{{ entrada.imagen.url }}" alt="{{ entrada.titulo }}" class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ entrada.titulo }}</h2>
                    <h3 class="card-subtitle">{{ entrada.subtitulo }}</h3>
                    <p class="card-text text-muted">{{ entrada.fecha|date:"F d, Y" }}</p>
                    <p class="card-text">{{ entrada.cuerpo|truncatewords:30 }}</p>
                    <p class="font-weight-bold">Autor: {{ entrada.autor }}</p>
                    <p class="font-weight-bold">Categoría: {{ entrada.categoria }}</p>
                    <a href="{% url 'detalle_entrada' entrada.pk %}" class="btn btn-primary">Ver Detalles</a>
                </div>
            </div>
            {% empty %}
            <p>No hay entradas de blog disponibles.</p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}