{% extends 'blog/base.html' %}

{% block content %}
<h2>Conversación con {{ conversacion.usuario_1.username }} y {{ conversacion.usuario_2.username }}</h2>
<h1>Conversación con {{ conversacion.usuario_1 }} y {{ conversacion.usuario_2 }}</h1>

<div class="conversacion">
    {% for mensaje in mensajes %}
    <div class="mensaje">
        <strong>{{ mensaje.remitente.username }}</strong>
        <p>{{ mensaje.contenido }}</p>
        <p>Fecha: {{ mensaje.fecha_envio }}</p>
        {% if mensaje.visto %}
        <p>Leído</p>
        {% else %}
        <p>No leído</p>
        {% endif %}
    </div>
    {% empty %}
    <p>No hay mensajes en esta conversación.</p>
    {% endfor %}
</div>
<form method="post" class="message-form">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
</form>

<a href="{% url 'listar_conversaciones_autor' %}">Volver a la lista de conversaciones</a>
{% endblock %}s