{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="container mt-5">

    <div class="row">
        <div class="col-md-8 offset-md-3">
            <h2 class="text-center mb-4">Conversación con {{ conversacion.usuario_1.username }} y {{ conversacion.usuario_2.username }}</h2>

            <div class="conversacion">
                {% for mensaje in mensajes %}
                <div class="media mb-4">
                    <img src="
                    {% if mensaje.remitente.perfil.imagen_de_perfil %}
                        {{ mensaje.remitente.perfil.imagen_de_perfil.url }}
                    {% else %}
                        {% static 'perfiles/avatarpordefecto.png' %}
                    {% endif %}" class="mr-3 rounded-circle" alt="{{ mensaje.remitente.username }}" width="64" height="64">
                    <div class="media-body">
                        <h5 class="mt-0">{{ mensaje.remitente.username }}</h5>
                        <p>{{ mensaje.contenido }}</p>
                        <p>Fecha: {{ mensaje.fecha_envio }}</p>
                        {% if mensaje.visto %}
                        <p class="text-success">Leído</p>
                        {% else %}
                        <p class="text-danger">No leído</p>
                        {% endif %}
                    </div>
                </div>
                {% empty %}
                <p>No hay mensajes en esta conversación.</p>
                {% endfor %}
            </div>

            <form method="post" class="message-form mt-4">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary ">Enviar</button>
                
            </form>
        </div>

    </div>

    
    <br>
</div>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-6 offset-md-3 text-center">
            <a href="{% url 'listar_conversaciones_autor' %}" class="btn btn-secondary mt-4">Volver a la lista de conversaciones</a>
        </div>
    </div>
</div>
<br>
{% endblock %}