{% extends "blog/base.html" %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center"> <!-- Añade la clase justify-content-center para centrar horizontalmente -->
        <div class="col-lg-8 text-center"> <!-- Añade la clase text-center para centrar el texto horizontalmente -->
            <h2>Acerca de Mí</h2>
            <p>Soy un entusiasta estudiante de Coderhouse que está actualmente inscrito en el curso de Python. Mi objetivo es aprender y aplicar mis habilidades de desarrollo web para crear aplicaciones increíbles y solucionar problemas de manera efectiva.</p>
            <p>Este proyecto es parte de mi proceso de aprendizaje, y estoy emocionado de presentarte esta aplicación que he desarrollado como parte de mi proyecto final.</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row justify-content-center"> <!-- Añade la clase justify-content-center para centrar horizontalmente -->
        <div class="col-lg-8 text-center"> <!-- Añade la clase text-center para centrar el texto horizontalmente -->
            <h2>Acerca del Proyecto</h2>
            <p>El proyecto que has visitado es una plataforma de blogs y mensajería construida con Python y Django. Permite a los usuarios registrados:</p>
            <ul>
                <li>Crear y editar su perfil de usuario.</li>
                <li>Publicar y editar blogs con imágenes.</li>
                <li>Interactuar con otros usuarios a través de un sistema de mensajería en tiempo real.</li>
            </ul>
            <p>Esta aplicación es un reflejo de mis habilidades y conocimientos adquiridos durante mi tiempo en Coderhouse. Estoy emocionado de compartir esta experiencia contigo y espero que encuentres esta plataforma útil y entretenida.</p>
        </div>
    </div>
</div>
{% endblock %}